sphinx==6.1.3
renku-sphinx-theme 
furo 
sphinx-press-theme 
piccolo-theme
pygments
sphinxcontrib-googleanalytics
sphinxcontrib-email
pydata-sphinx-theme
sphinx-copybutton
# myst-parser
myst-nb
sphinx-collections
